spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}            # Lee de variable de entorno
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    virtual-host: ${RABBITMQ_VHOST:/}

logging:
  level:
    root: INFO
    pe.edu.vallegrande.msdistribution: INFO  # Solo logs importantes